html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav section style start here */
.brand-text {
  font-size: 25px;
  font-weight: 600;
  color: #a0b941;
}
.brand-fashion {
  font-size: 25px;
  font-weight: 600;
}
.brand-logo img {
  width: 20rem;
  height: auto;
}

/* nav section style end here */

/* Main section style start here */

/* Main section hero part style start here */
.heading-top-part {
  color: #fabe4c;
}
.heading-bottom-part {
  color: #363958;
}
.heading-top-part p {
  color: #4f4f4e;
}

.bg-color {
  background-color: #fffbf0;
}
.buy-btn {
  background-color: #a0b941;
  color: #fffbf0;
  padding: 13px 25px;
}
.buy-btn:hover {
  background-color: #a0b941;
  color: #fffbf0;
}
.header-image img {
  width: 400px;
  height: auto;
  max-height: 445px;
  margin-top: 25px;
}
/* Main section hero part style end here */

/* Main section woman fashion style start here */

.card .img-box .img-2 {
  width: 191px;
  height: auto;
  margin-left: 25px;
}
.card .img-box .img-3 {
  width: 210px;
  height: auto;
  margin-left: 25px;
}
.woman-jacket {
  color: #363958;
}
.card .img-box {
  width: 310px;
  height: 310px;
  background-color: #f1f1f1;
  padding: 24px 24px;
  border-radius: 18px;
}

.card-body .product-desc {
  margin-left: -13px;
  color: #363958;
}
.card-body .product-desc h1 {
  font-size: 23px;
  font-weight: bold;
}
.product-price {
  font-size: 35px;
  font-weight: 600;
  color: #fabe4c;
}
/*Main section woman fashion style end here */


/* Main section carousel part */
.carousel-item img {
  border-radius: 10px;
}
/* Main section carousel part */


/*Main section man fashion style start here */
.card .img-box .man-img-1 {
  width: 191px;
  height: auto;
  margin-left: 25px;
}
.card .img-box .man-img-2 {
  width: 232px;
  height: auto;
  margin-left: 15px;
}
.card .img-box .man-img-3 {
  width: 175px;
  height: auto;
  margin-left: 40px;
}
/*Main section man fashion style end here */

/* main section marketin style start here */
.marketin-section .icon-box img {
  width: 70px;
}
.description h3,
p {
  color: #363958;
}
/* main section marketin style end here */
/* Main section style end here */

/* Resoponsive media quaries style */
@media (max-width: 565px) {
  .brand-logo img {
    width: 18rem;
    height: auto;
  }
  .woman-jacket {
    text-align: center;
  }

  @media (max-width: 850px) {
    .carousel-item h3 {
      font-size: 8px;
    }
    .carousel-item p {
      font-size: 5px;
    }
    .carousel-item h4 {
      font-size: 5px;
    }
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .card .img-box {
    width: 200px;
    height: 250px;
    background-color: #f1f1f1;
    padding: 24px 24px;
    border-radius: 18px;
  }

  .card .img-box .img-1 {
    width: 190px !important;
    margin-left: -20px !important;
  }
  .card .img-box .img-2 {
    width: 137px !important;
    margin-left: 0px !important;
  }
  .card .img-box .img-3 {
    width: 153px !important;
    margin-left: 0px !important;
  }
  .product-price {
    font-size: 20px;
  }
  .buy-btn {
    padding: 5px 5px;
    font-size: 11px;
  }
  .img-box .man-img-1 {
    width: 158px !important;
    margin-left: 0px !important;
  }
  .img-box .man-img-2 {
    width: 153px !important;
    margin-left: 0px !important;
  }

  .img-box .man-img-3 {
    width: 135px !important;
    margin-left: 7px !important;
  }
}
@media (min-width: 992px) {
  .product-price .buy-btn {
    padding: 10px 15px;
    font-size: 11px;
    margin-left: -30px !important;
  }
}
@media (max-width: 850px) {
  .carousel-item h3 {
    font-size: 20px;
  }
  .carousel-item p {
    font-size: 10px;
  }
  .carousel-item h4 {
    font-size: 12px;
  }
}
/* Resoponsive media quaries style */
